{% extends "base.html" %}
{% block content %}
    <h1>{{ filter_value }}</h1> 
    <style>
        .chart div {
            display: inline;
            float: left;
            font: 14px sans-serif;
  	    text-align: center;
  	    margin-left: 1px;
  	    paddin: 2px;
	    color: white;
	}
    </style>
    <div class="chart">
      <div style="background-color: steelblue; width: {{ (comment_count / total_comments) * 600 }}px;">{{ comment_count }}</div>
      <div style="background-color: gray; width: {{ ((total_comments - comment_count) / total_comments) * 600 }}px;">{{total_comments - comment_count }}</div>
    </div>
    <br />
    {% set polar = 'polar' %}
    Comments analyzed: {{ comment_count }} {% if data_set != polar %}{{ data_set }}{% endif %} / {{ total_comments }} total <br />
    {% if date %}
    Comments made after: {{ date }}<br />
    {% endif %}
    Time to analyze: {{ time }}<br />	
    <!--Epsilon: {{ epsilon }}<br />
    Samples: {{ samples }}<br /-->
    <h3>Themes:</h3>
    <div class="panel-group" id="accordion">
    {% for cluster in clusters %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ cluster.name }}">{{ cluster.centroid }} ({{ cluster.count }} comments)</a>
                </h4>
            </div>
            <div id="{{ cluster.name }}" class="panel-collapse collapse height:0px">
                <div class="panel-body">
                    <ul>
		    {% for item in cluster.list %} 
		      <li>{{ item }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
