{% extends "base.html" %}
{% block content %}
    <form action="/cluster" method="POST">
      <table>
        <tr>
          <td> 
            <select id="filter" name="filter">
              <option value="type">Session Type</option>
              <option value="presenter">Presenter</option>
            </select>
          </td>
          <td>
            <div id="typeSelector">
	      <select name="type" width="300px">
              {% for o in session_list %}
                <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
              </select>
	    </div>
            <div id="presenterSelector" style="display:none;">
              <select name="presenter" width="300px">
              {% for o in presenter_list %}
                <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
              </select>
            </div>
	  </td>
        </tr>
        <tr>
          <td>
            <strong>
              Sentiment:
            </strong>
          </td>
          <td>
            <select name="data-set">
              <option value="negative">Negative Comments</option>
              <option value="positive">Positive Comments</option>
              <option value="polar">All Comments</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              Earliest Date:
            </strong>
          </td>
          <td>
	    <input id="date" type="text" name="date" readonly="readonly"/>            
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              Cluster Size:
            </strong>
          </td>
          <td>
            <table>
	      <tr>
		<td>
	    	  <table style="margin: 0 auto;">
  		    <tr>
		      <td width="75px" style="font-size:.75em;">Smaller/More Clusters</td>
		      <td>&nbsp;</td>
		      <td width="125px"><input type="range" size="6" name="epsilon" min="0.5" max="1.5" step="0.05" value="0.85"></td>
                      <td>&nbsp;</td>
	   	      <td width="75px" style="font-size:.75em;">Larger/Fewer Clusters</td>
                    </tr>
                  </table>
                </td>
              </tr>
	    </table>
	  </td>
        </tr>
        <tr>
          <td>
            <strong>
              Cluster Generality:
            </strong>
          </td>
          <td>
            <table>
              <tr>
		<td>
                  <table style="margin: 0 auto;">
                    <tr>
                      <td width="75px" style="font-size:.75em;">More General</td>
                      <td>&nbsp;</td>
                      <td width="125px"><input type="range" size="6" name="samples" min="1" max="10" step="1" value="5"></td>
                      <td>&nbsp;</td>
                      <td width="75px" style="font-size:.75em;">More Specific</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="Submit" />
          </td>
        </tr>
      </table>
    </form>
{% endblock %}
